@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Kolker+Brush&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Roboto+Condensed:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --main-color: rgb(179, 38, 38);
    --bg-color: black;
    --color: #ffff;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    /* height: 2000px; */
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background-color: gray;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color);
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
}

.menu li {
    position: relative;
}

.menu {
    display: flex;
    column-gap: 2.5rem;
}

.menu a {
    color: var(--color);
    font-size: 1.2rem;
    font-weight: 500;
}

.menu a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.menu a:hover::after,
.menu .active::after {
    width: 100%;
}

.btn {
    color: var(--color);
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--main-color);
    padding: 0.6rem;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(137, 56, 56);
}


/* home cover  */

.container {
    width: 100%;
    min-height: 650px;
    position: relative;
    display: flex;
    align-items: center;
}

.container img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    object-position: center; */
    opacity: 0.7;
}

.container .img-text {
    margin-left: 150px;
}

.img-text span {
    color: var(--color);
    font-weight: 600;
    text-transform: uppercase;
}

.img-text h1 {
    color: var(--color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.img-text .play {
    position: absolute;
    right: 4rem;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text .play .bx {
    color: var(--color);
    font-size: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(1, 2, 3, 0.5);
}

.img-text .play:hover {
    transition: 0.5s;
    transform: scale(1.2);
    filter: brightness(1.5);
}


/* movie container  */

.heading {
    max-width: 968px;
    text-align: center;
    margin: 10px auto 10px auto;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid var(--main-color);
    margin-top: 2rem;
}

.movie-container {
    max-width: 960px;
    margin: 0px auto 0px auto;
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
}

.box {
    /* margin-bottom: 10px; */
}

.box .box-image {
    width: 100%;
    height: 300px;
}

.box h3 {
    margin-top: 1rem;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-image img:hover {
    transform: scale(1.1);
    filter: brightness(1.05);
    transition: 0.7s;
    box-shadow: 5px 5px 5px rgb(113, 107, 107);
}